<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Specific Player</h1>
<table>
    <thead>
    <tr>
        <th th:text="Voornaam">First Name</th>
        <th th:text="Achternaam">Last Name</th>
        <th th:text="Positie">position</th>
        <th th:text="Lengte">length</th>
        <th th:text="Team_Name">team name</th>
        <th th:text="Leeftijd">dob</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player: ${players}">
        <td th:text="${player.firstName}">Oranges</td>
        <td th:text="${player.lastName}">0.99</td>
        <td th:text="${player.position}">0.99</td>
        <td th:text="${player.length}">0.99</td>
        <td th:text="${player.teamName}">0.99</td>
        <td th:text="${player.age}">0.99</td>
    </tr>
    </tbody>
</table>

<p><a href="/players">To players</a></p>
</body>
</html>
