<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Specific Team</h1>
<table>
    <thead>
    <tr>
        <th th:text="ID">First Name</th>
        <th th:text="Team_Name">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team: ${teams}">
        <td th:text="${team.id}">Oranges</td>
        <td th:text="${team.teamName}">0.99</td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th th:text="Voornaam">Voornaam</th>
        <th th:text="Achternaam">Achternaam</th>
        <th th:text="Positie">Positie</th>
        <th th:text="Lengte">Lengte</th>
        <th th:text="Leeftijd">Leeftijd</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team: ${teams}">
    <tr th:each="player: ${teams.getPlayers()}">
        <td th:text="${player.firstName}">0.99</td>
        <td th:text="${player.lastName}">0.99</td>
        <td th:text="${player.position}">0.99</td>
        <td th:text="${player.length}">0.99</td>
        <td th:text="${player.age}">0.99</td>
    </tr>
    </tbody>
</table>

<!--<form action="#" th:action="@{/teams/updateTeam}" th:object="${teams}" method="post">
    <p>Id:</p>
    <input type="text" th:value="${teams.id}" name="id" th:readonly="true"/>
    <p>TeamName:</p>
    <input type="text" th:value="${teams.teamName}" name="teamName"/>
    <input type="submit" />
</form>-->

<p><a href="/teams">To teams</a></p>
<p><a href="/">To homepage</a></p>
</body>
</html>
